.sect-price {
    color: $colorPiceText;
    position: relative;
    font-family: 'Montserrat', sans-serif;

    &::before {
        content: '';
        z-index: -1;
        @include PseudoPosAbs(absolute);
        top: 0;
        left: 0;
        background-image: url('/dist/images/price_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title {
        text-align: center
    }
}

.sect-price__item {

    background-color: $bgSecrPriceItem ;
    text-align: center;

    &-title {
        @include sizeText(24px, 24px, 400);
        text-transform: uppercase;

        padding-top: 36px;
        padding-bottom: 36px;
        margin-bottom: 30px;

        width: 100%;
        background-color: $bgSecrPriceItemTitle;

    }

    &-cost {
        font-size: 57px;
        line-height: 57px;
        margin-bottom: 20px;

        & ins {
            font-weight: 700;
            text-decoration: none;
        }
    }

    &-time {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 73px;
        position: relative;

        &::after {
            content: '';
            @include PseudoPosAbs(absolute, 60px, 5px);
            background-color: $bgSecrPriceItemLine ;
            top: 38px;
            left: 50%;
            transform: translateX(-30px);
        }
    }

    &-type {
        font-size: 16px;
        line-height: 16px;
        min-height: 44px;
        max-width: 210px;
        margin: 0 auto;
    }

    &-pursh {
        display: inline-block;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        padding: 14px 36px;
        margin-top: 36px;
        margin-bottom: 38px;
        border-radius: 21px;
        background-color: $bgSecrPriceItemPursch;
        color: $colorPiceText;
    }
}

.item--active {
    background-color: $bgSecrPriceItemActive;
    transform: scale(1.16, 1.18);
    max-width: 299px;
    max-height: 560px;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;

    & .sect-price__item-title {
        background-color: $bgSecrPriceItemActiveTitle;
        margin-bottom: 14px;
    }

    & .sect-price__item-cost {
        line-height: 78px;
        font-size: 78px;
        margin-bottom: 16px;
    }

    & .sect-price__item-time {
        margin-bottom: 91px;

        &::after {
            top: 46px
        }
    }

    & .sect-price__item-pursh {
        font-size: 16px;
        line-height: 16px;
        border-radius: 26px;
    }

}



@media (min-width:320px) and (max-width:480px),
(max-width:320px) {
    .sect-price {
        padding-top: 10px;
        padding-bottom: 50px;

        &__title {
            font-size: 28px;
            line-height: 42px;
            margin-bottom: 50px;
        }

        .sect-price__list {
            @include PosElFlex (flex, column, space-evenly, center);
            gap: 48px;

            & .sect-price__item {
                width: 257px;
            }

        }
    }
}

@media (min-width:481px) {
    .sect-price {
        padding-top: 79px;
        padding-bottom: 94px;

        &__title {
            font-size: 42px;
            line-height: 44px;
            margin-bottom: 89px;
        }

        .sect-price__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
            row-gap: 71px;
            justify-items: center;

            & .sect-price__item {
                width: clamp(210px, 220px, 257px);

                &:nth-child(2n) {

                    margin-right: auto;
                }

                &:nth-child(2n+1) {
                    margin-left: auto;

                }
            }

        }
    }
}

@media (min-width: 650px) {
    .sect-price {
        padding-top: 79px;
        padding-bottom: 94px;

        &__title {
            font-size: 42px;
            line-height: 44px;
            margin-bottom: 89px;
        }

        .sect-price__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
            row-gap: 71px;
            justify-items: center;

            & .sect-price__item {
                width: 257px
            }

        }
    }
}

@media(min-width:993px) {
    .sect-price {
        padding-top: 88px;
        padding-bottom: 97px;

        &__title {
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 112px;
        }

        .sect-price__list {
            @include PosElFlex (flex, row, space-evenly, center);
            gap: 15px;
            flex-wrap: nowrap;

            & .sect-price__item {
                &:nth-child(2n) {
                    margin-right: unset;
                }

                &:nth-child(2n+1) {
                    margin-left: unset;
                }

            }
        }
    }
}