//Variable section header
$header-color: #8d81ac;

//Variable section Present after header

$colorPrsTitle : #635C73;
$colorPrsText : #323232;

//Variable section editor  

$bfcSectFearures: #F4F4F4;
$colorFeaturesTitle: #8D81AC;
$colorFeaturesOptnItemTitle: #323232;
$colorFeaturesOptnItemText: #848E97;


//Variable section price
$colorPiceText: #FFFFFF;
$bgSecrPriceItem :rgba(255, 255, 255, 0.11);
$bgSecrPriceItemTitle :rgba(255, 255, 255, 0.06);
$bgSecrPriceItemLine : rgba(141, 129, 172, 1);
$bgSecrPriceItemPursch : rgba(255, 255, 255, 0.15);
//Active
$bgSecrPriceItemActive :rgba(70, 48, 72, 0.84);
$bgSecrPriceItemActiveTitle :rgba(0, 0, 0, 0.11);