@import "variebles";
@import "mixins";
@import "header";
@import 'present';
@import 'editor';
@import "reviews";
@import 'price';

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}


@media (min-width:981px) {
    .container {
        max-width: 1200px;
    }
}